[submodule "cnpy"]
	path = external/cnpy
	url = git@github.com:pkestene/cnpy-cmake.git
[submodule "kokkos"]
	path = external/kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "HighFive"]
	path = external/HighFive
	url = git@github.com:highfive-devs/highfive.git
