[submodule "cnpy"]
	path = external/cnpy
	url = git@github.com:pkestene/cnpy-cmake.git
[submodule "kokkos"]
	path = external/kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "HighFive"]
	path = external/HighFive
	url = git@github.com:highfive-devs/highfive.git
[submodule "cpptrace"]
	path = external/cpptrace
	url = git@github.com:jeremy-rifkin/cpptrace.git
[submodule "spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "p4est"]
	path = external/p4est
	url = git@github.com:cburstedde/p4est.git
[submodule "better-enums"]
	path = external/better-enums
	url = git@github.com:aantron/better-enums.git
